html,
body,
#root {
  height: 100%;
}

body {
    background: #434665;
}

body {
  font-family: 'Marmelad', sans-serif;
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 40px;
  letter-spacing: 1.1px;
  margin-bottom: 2px;
}

#root {
  max-width: 800px;
  margin: auto;
}

.App {
  text-align: center;
}

*:focus {
  outline: none;
}
